In [1]:
import numpy as np
import pandas as pd
import pickle
import os

In [2]:
def load_X_file(train_test):
    if train_test == "train":
        npy_file = "data/X_train.npy"
        df_file = "X_train_df.txt"
    elif train_test == "test":
        npy_file = "data/X_test.npy"
        df_file = "X_test_df.txt"
    else:
        raise Exception(f"Invalid type: {train_test}")
        
    if not os.path.exists(df_file):
        npy = np.load(npy_file)
        df = pd.DataFrame([x.flatten() for x in npy])
        df_file_id = open(df_file,'wb')
        pickle.dump(df,df_file_id)
        df_file_id.close()
    else:
        with open(df_file, "rb") as fid:
            df = pickle.load(fid,encoding="bytes")

    return df

In [3]:
X_train_df = load_X_file("train")

In [4]:
X_test_df = load_X_file("test")

In [6]:
X_train_df

,0,1,2,3,4,5,6,7,8,9,...,3062,3063,3064,3065,3066,3067,3068,3069,3070,3071
0,75,78,80,74,76,78,83,84,83,101,...,83,101,102,94,98,101,90,90,97,89
1,69,73,73,75,78,78,75,77,77,77,...,73,78,78,79,103,103,100,101,104,96
2,72,72,72,78,78,78,78,78,74,114,...,74,71,73,72,82,83,80,95,97,91
3,68,67,67,75,72,73,89,81,81,141,...,79,68,69,72,76,73,74,95,87,87
4,73,73,75,74,73,75,75,72,70,111,...,99,81,78,87,66,64,68,71,71,73
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39204,12,11,12,11,11,13,13,11,13,13,...,13,12,11,13,10,10,14,11,11,12
39205,11,9,10,10,9,11,10,9,11,11,...,11,10,9,12,11,10,13,11,11,13
39206,10,10,12,12,12,13,13,11,13,11,...,10,10,10,12,11,11,13,11,11,13
39207,13,12,15,13,13,16,13,12,13,10,...,17,13,12,14,11,9,11,11,10,11
39208,11,10,12,11,10,12,10,9,10,11,...,11,9,9,12,10,10,12,10,9,11

In [5]:
X_test_df

,0,1,2,3,4,5,6,7,8,9,...,3062,3063,3064,3065,3066,3067,3068,3069,3070,3071
0,116,139,174,116,137,171,118,138,172,117,...,164,115,138,167,117,138,167,114,140,170
1,59,70,61,87,80,63,92,81,63,96,...,58,62,59,62,73,67,70,75,70,70
2,52,40,38,51,39,37,50,38,37,50,...,34,41,40,38,44,43,43,47,46,44
3,132,125,87,100,92,60,82,73,34,96,...,152,235,239,196,255,251,217,255,240,180
4,37,34,30,42,38,32,46,40,36,44,...,35,46,41,38,48,43,40,49,45,42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12625,193,180,112,121,131,83,83,94,67,71,...,65,112,101,87,143,104,87,89,58,52
12626,22,21,21,25,24,24,27,28,28,32,...,41,45,41,40,46,42,39,47,43,40
12627,24,27,34,23,25,32,24,25,32,25,...,29,18,21,30,19,22,32,18,22,31
12628,47,58,73,49,53,67,59,57,63,35,...,37,28,32,40,36,37,40,29,27,22
12629,10,10,13,10,10,13,10,9,12,8,...,12,10,10,13,9,10,12,11,11,13

In [5]:
filename = 'X_train_df.txt'
X_train_df_file = open(filename,'wb')
pickle.dump(X_train_df,X_train_df_file)
X_train_df_file.close()

In [6]:
y_train = np.load("data/y_train.npy")
y_train.shape

(39209, 43)

In [9]:
y_df = pd.DataFrame(y_train)
y_df.head()

,0,1,2,3,4,5,6,7,8,9,...,33,34,35,36,37,38,39,40,41,42
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
y_df.tail()

,0,1,2,3,4,5,6,7,8,9,...,33,34,35,36,37,38,39,40,41,42
39204,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
39205,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
39206,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
39207,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
39208,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [12]:
y_df = y_df.melt()

In [14]:
y_df.drop(columns=["variable"],inplace=True)
y_df

         value
0            1
1            1
2            1
3            1
4            1
...        ...
1685982      1
1685983      1
1685984      1
1685985      1
1685986      1

[1685987 rows x 1 columns]